html,body{
    position: relative;
    height: 100%;
}

.bolded{
    font-weight: bold;
}

#addedTxts{
    background: #fffff0;
    font-weight: bold;
}

#newDoc {
    background: #fafad2;
}

div.disqualified button {
    color: #fff;
}

div.disqualified * {
    color: #999;
}

#pnlLeft{
    overflow-y: scroll;
}

.panel-title{
    font-size: 1.5rem;
}

.selected{
    background: #f2dede;
}

.ann-input-s{
    background: #dfe;
}

.ann-input-m{
    background: #edeef0;
}

#bigdiv {
    background: #edeef0;
}

.table-condensed{
  font-size: 1rem;
}

span.active {
    background: #0f0;
}

span.inactive {
    background: #f00;
}

label.active {
    background: #0f0;
}

label.inactive {
    background: #f00;
}


/*.prop_Status {
    background: #F4A460;
}

.prop_Type {
    background: #f0f;
}
*/

.prop_Residence {
    background: #ffe119;
}

.prop_DeathPlace {
    background: #46f0f0;
}

.prop_CauseOfDeath {
    background: #fabebe;
}

.prop_PastConviction {
    background: #000080;
    color: white
}

.prop_Ethnicity {
    background: #e6beff;
}

.prop_EducationLevel {
    background: #aaffc3;
}

.prop_BirthPlace {
    background: #800000;
    color: white

}

.prop_NativeLanguage {
    background: #0082c8;
    color: white;
}

.prop_PoliticalParty {
    background: #008080;
    color: white
}

.prop_Religion {
    background: #f58231;
    color: white
}


.legend {
    font-size: xx-small;
}

.lexsupport {
    color: #fff;
    background: #000;
}

.good_info {
    color: #0f0;
}

.bad_info {
    color: #f00;
}
.mwu {
    font-weight: bold;
}

#strinfo {
    background-color: #f6eedd;
}
